{% extends 'base.html' %}


{% block css %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/producer',
                function(data) {
                    console.log(data);
            });
            window.location.reload()
            return false;
          });
        });
</script>
{% endblock %}
{% block content %}
  
    <div>
    <h3>Consume Topic </h3>
    <p> kafka topic: registered_user 에서 전송한 메시지입니다. </p>
     {{ consumedata }}
    </div>
{% endblock %}


