{% extends 'base.html' %}

{% block title %}
    good
{% endblock %}
{% block css %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/producer',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
{% endblock %}
{% block content %}
    <h1>hello</h1>
    <p><div>test</div></p>
    <button type="button" class="btn btn-primary">Primary</button>
    <div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div>
{% endblock %}

{% block footer %}
    <p>Footer</p>
{% endblock %}
