{% extends 'base.html' %}


{% block css %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/producer',
                function(data) {
                    console.log(data);
            });
            window.location.reload()
            return false;
          });
        });
</script>
{% endblock %}
{% block content %}
  
    <div class='container'>
       <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
        </nav>
    <h3>Produce Topic</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Produce</button></a>
        </form>
        <table class="table table-striped table-hover">
            <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ row[cell] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <iframe src="/consume" frameBorder="0" width="100%" height="500px"></iframe>
    <h3>Kafka Manager</h3>
    <button class='btn btn-default' onclick="window.open('http://imcmaster.iptime.org:9000/clusters/nam-cluster/topics/registered_user')">Open</button>

    </div>
{% endblock %}


